In [10]:
import pandas as pd


df = pd.read_csv('https://raw.githubusercontent.com/sabrina-hu/Fe4Co3Ni_Gamry_electrochemdata/main/20220718_Fe4Co3Ni2_3.05mgcm2_20wtXA9_iPaH2O_75C_12hr_chronop_-500mAcm-2', on_bad_lines='skip', sep='\t', engine='python')
df.head()

                                            XY
NaN         CURVE (9_CHRONOPOT_-500mAcm-2.DTA)
0,000e+000                         -1,976e+000
2,000e+000                         -1,970e+000
4,000e+000                         -1,963e+000
6,000e+000                         -1,953e+000